<!-- views/urls_show.ejs -->

<html lang='en'>
<head>
  <title>TinyApp</title>
</head>
<body>
<%- include('partials/_header.ejs') %>
<h1>ShortURL: <%= shortURL %></h1>

<p><%= shortURL %> : <%= longURL %><p>

<form method="POST" action="/urls/<%= shortURL %>">
  <input id="newURL" type="text" name="newURL" placeholder="http://" style="width: 300px">
  <input type="submit" value="Update">
</form>
<form method="POST" action="/urls/<%= shortURL %>/delete">
  <input type="submit" value="Delete">
</form>
<div>
  <a href="/urls/new">Make a New Tiny URL</a>
</div>
<div>  
  <a href="/urls/">My URLs</a>
</div>


</body>
</html>